<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="smsService" class="com.kangyonggan.app.myth.biz.service.impl.SmsServiceImpl">
        <constructor-arg index="0">
            <value>${sms.regionId}</value>
        </constructor-arg>
        <constructor-arg index="1">
            <value>${sms.accessKeyId}</value>
        </constructor-arg>
        <constructor-arg index="2">
            <value>${sms.secret}</value>
        </constructor-arg>
        <constructor-arg index="3">
            <value>${sms.domain}</value>
        </constructor-arg>

        <property name="signName" value="${sms.signName}"></property>
        <property name="templateCode" value="${sms.templateCode}"></property>
        <property name="debug" value="${sms.debug}"></property>
    </bean>

</beans>